body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #333333;
    line-height: 1.5;
}

.main {
    max-width: 1300px;
    display: flex;
    padding: 25px;
    height: auto;
}

.header {
    display: flex;
}

.logo {
    position: relative;
    width: 135px;
}

h1 {
    width: 100%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6px;
    margin: 30px auto;
}

h2 {
    margin-top: 0;
    color: #ffffff
}

/* TORQUES */
.torque,
.sensores {
    width: 50%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: rgba(44, 102, 147, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #fff;
    margin: auto 10px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-group label {
    font-weight: 600;
    color: #ffffff;
}

.filter-group select {
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #1a365d;
    background-color: #f8fafc;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

.result-card {
    display: none;
    background: rgba(44, 102, 147, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ffffff;
    margin: 10px;
}

.result-card.active {
    display: block;
}

.container-result-item {
    display: flex;
    gap: 5px;
}

.result-item {
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 5px;
    border-bottom: 1px solid #edf2f7;
}

.result-item.display-column {
    display: flex;
    flex-direction: column;
}

.result-item:last-child {
    border-bottom: none;
}

.result-label {
    font-weight: 700;
    color: #ffffff;
    padding: 5px;
}

.result-label-sensor {
    font-weight: 700;
    color: #ffffff;
    border-bottom: 1px solid #edf2f7;
}

.result-value {
    color: #f00404;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}

.result-value-sensor {
    color: #ffffff;
    font-weight: 700;
    padding: 5px;
}

.highlight {
    color: #c53030;
    font-weight: bold;
}

#resObs {
    color: #ffffff;
}

footer {
    display: none;
    background-color: #cbd5e0;
    max-width: 1300px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    color: #4a5568;
}

li {
    margin: 10px;
}
