* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: normal;
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

button {
    font-family: "Raleway", sans-serif;
    background: none;
}